$head-color: #ffb300;
$title-color: lightgray;
$para-color: gray;
$dark: black;
$light: white;

section{
    height: 50vw;
    background-color: $dark;
    h1{
        color: $head-color;
        text-align: center;

        &::before{
            content: "";
            position: absolute;
            transform: translateX(-45%);
            border-bottom: thin $light solid;
            width: 30em;
        }
    }
}

.header{
    background-color: $dark;
    li{
        a{
            color: $head-color;
            margin-right: 2em;
            font-size: 1em;
        }
    }
}

.info{
    display: flex;
    flex-wrap: wrap;
    background-color: $dark;
    height: 30vw;
    img{
        flex: 20%;
        display: block;
        margin: auto;
        background-color: $light;
        height: 25vw;
        margin-left: 3em;
    }
    .details{
        flex: 60%;
        text-align: right;
        .text{
            display: block;
            transform: translateY(20%);
            h1{
                color: $head-color;
                margin: 1em 1em 0 1em;
            }
            h3{
                color: $title-color;
                margin: 0 1em 0 1em;
            }
            p{
                color: $para-color;
                margin: 0 2em 0 1em;
            }
        }
    }
}

.education{
    .certificate{
        margin-top: 6em;
        margin-left: 5em;
        >div{
            display: flex;
            flex-wrap: wrap;
            margin: 1em 0.5em 0 0.5em;
            h4{
                flex: 20%;
                color: $title-color;
            }
            p{
                flex: 70%;
                color: $para-color;
            }
        }
    }
}

.skills{
    h3{
        color: $title-color;
        text-align: center;
        margin-top: 1em;
    }
    .langs{
        ul{
            text-align: center;
            li{
                margin-left: 4em;
                margin-right: 4em;
            }
        }
    }

    .other{
        ul{
            text-align: center;
            li{
                margin-left: 2em;
                margin-right: 2em;
            }
        }
    }
    
}

.interests{
    .text{
        position: relative;
        img{
            width: 80%;
            display: block;
            margin: auto;
            opacity: 0.5;
        }

        .first{
            position: absolute;
            top: 2em;
            left: 10em;
            text-align: left;
            color: $light;
            width: 40%;
            margin-top: 1.5em;
        }

        .second{
            position: absolute;
            top: 10em;
            left: 10em;
            text-align: left;
            color: $light;
            width: 40%;
            margin-top: 2em;
        }
    }
}

.contact{
    
}